

<h2>Carreras</h2>
<ul>
    {% for carrera in carreras %}
        <li>{{ carrera.Nombre_Carrera }}</li>
    {% endfor %}
</ul>

<h2>Estudiantes</h2>
<ul>
    {% for estudiante in estudiantes %}
        <li>{{ estudiante.Nombre }} {{ estudiante.Apellido }}</li>
    {% endfor %}
</ul>

<h2>Profesores</h2>
<ul>
    {% for profesor in profesores %}
        <li>{{ profesor.Nombre }} {{ profesor.Apellido }}</li>
    {% endfor %}
</ul>

<h2>Asignaturas</h2>
<ul>
    {% for asignatura in asignaturas %}
        <li>{{ asignatura.Nombre_Asignatura }}</li>
    {% endfor %}
</ul>
